In [11]:
import os
import pandas as pd


folder_path  = r'C:\\Users\Hp\\Downloads\\Property_data'

csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]
merged_data = pd.DataFrame()

for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path, encoding='ISO-8859-1') 
    merged_data = pd.concat([merged_data, df], ignore_index=True)

output_path = r"C:\\Users\\Hp\\Downloads\\64CSVfiles.csv"
merged_data.to_csv(output_path, index=False)

print(f"All CSV files have been merged into {output_path}")

All CSV files have been merged into C:\\Users\\Hp\\Downloads\\64CSVfiles.csv

In [12]:
import pandas as pd

file_path = '64CSVfiles.csv' 
df = pd.read_csv(file_path)

print(df.head())

print("Shape of the DataFrame:", df.shape)

                        property_id  type   activation_date  bathroom  floor  \
0  ff8080814a078fd2014a15c813ff0b03  BHK3  20-02-2017 09:24       3.0    2.0
1  ff8081814c2dea94014c50865ea35904  BHK2  11-03-2017 16:12       2.0    0.0
2  ff8081814cff7251014d04e2cc7018fd  BHK2  18-03-2017 14:26       2.0    2.0
3  ff8081814eb65997014ebbaa22f11869  BHK2  28-03-2017 11:09       2.0    3.0
4  ff8081814fa8748d014fabcabea10bb6  BHK3  14-02-2017 17:07       2.0    1.0

   total_floor      furnishing gym   latitude  longitude  ... property_age  \
0          6.0  SEMI_FURNISHED   1  12.872456  77.617578  ...          2.0
1          2.0  SEMI_FURNISHED   0  12.876009  77.617934  ...          5.0
2         19.0  SEMI_FURNISHED   1  12.875923  77.617946  ...          2.0
3          5.0  SEMI_FURNISHED   1  12.859438  77.614948  ...          1.0
4          3.0  SEMI_FURNISHED   0  12.875697  77.617187  ...          1.0

  property_size swimming_pool  pin_code     rent   deposit building_type  \
0        2000.0             0  560068.0  22000.0  150000.0            AP
1        1250.0             0  560076.0  12500.0  125000.0            IF
2        1279.0             1  560068.0  17500.0  175000.0            AP
3        1200.0             0  560076.0  15000.0  100000.0            AP
4        1550.0             0  560076.0  18000.0  100000.0            AP

   location  ÿþ  \
0       NaN NaN
1       NaN NaN
2       NaN NaN
3       NaN NaN
4       NaN NaN

   property_id/type/activation_date/bathroom/floor/total_floor/furnishing/gym/latitude/longitude/lease_type/lift/locality/parking/property_age/property_size/swimming_pool/pin_code/rent/deposit/building_type
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

[5 rows x 24 columns]
Shape of the DataFrame: (14532, 24)

In [13]:
import pandas as pd
import glob
import os

path = r'C:\Users\Hp\Downloads\Property_data' 
all_files = glob.glob(os.path.join(path, "*.csv"))


dataframes = []

for filename in all_files:
    try:
        df = pd.read_csv(filename)
        dataframes.append(df)  
    except Exception as e:
        print(f"Error reading {filename}: {e}")


if dataframes:  
    combined_df = pd.concat(dataframes, ignore_index=True)

    combined_df.drop_duplicates(inplace=True)

 
    combined_df.dropna(thresh=len(combined_df) * 0.5, axis=1, inplace=True)

    print("Final shape of the combined property data:", combined_df.shape)
else:
    print("No valid CSV files were found or read.")

Error reading C:\Users\Hp\Downloads\Property_data\HSR_Layout.csv: 'utf-8' codec can't decode byte 0xff in position 0: invalid start byte
Final shape of the combined property data: (13670, 21)

In [16]:
print("Columns in the DataFrame:", df.columns.tolist())

df.columns = df.columns.str.strip()
if 'location' in df.columns:
    
    unique_locations_count = df['location'].nunique()
    print("Number of unique locations:", unique_locations_count)
else:
    print("'location' column not found in the DataFrame.")

Columns in the DataFrame: ['property_id', 'type', 'activation_date', 'bathroom', 'floor', 'total_floor', 'furnishing', 'gym', 'latitude', 'longitude', 'lease_type', 'lift', 'locality', 'parking', 'property_age', 'property_size', 'swimming_pool', 'pin_code', 'rent', 'deposit', 'building_type']
'location' column not found in the DataFrame.

In [17]:



df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

numeric_features = df.select_dtypes(include=['float64', 'int64'])

correlation_with_rent = numeric_features.corr()['rent'].drop('rent')

highest_correlation_feature = correlation_with_rent.idxmax()
highest_correlation_value = correlation_with_rent.max()

print(f"The feature with the highest correlation with rent is: {highest_correlation_feature}")
print(f"The correlation value is: {highest_correlation_value}")

The feature with the highest correlation with rent is: property_size
The correlation value is: 0.7747210366440287

In [18]:

def categorize_property_age(age):
    if age <= 1:
        return "New"
    elif 1 < age <= 5:
        return "Less than 5 years"
    elif 5 < age <= 10:
        return "5 to 10 years"
    elif 10 < age <= 20:
        return "10 to 20 years"
    else:
        return "More than 20 years"


df['property_age_category'] = df['property_age'].apply(categorize_property_age)

most_frequent_category = df['property_age_category'].value_counts().idxmax()


print("Most frequent property age category:", most_frequent_category)

Most frequent property age category: New

In [21]:

print("Columns in the DataFrame:", df.columns.tolist())

Columns in the DataFrame: ['property_id', 'type', 'activation_date', 'bathroom', 'floor', 'total_floor', 'furnishing', 'gym', 'latitude', 'longitude', 'lease_type', 'lift', 'locality', 'parking', 'property_age', 'property_size', 'swimming_pool', 'pin_code', 'rent', 'deposit', 'building_type', 'property_age_category']

In [23]:
type_interactions = df['type'].value_counts()


highest_interaction_type = type_interactions.idxmax()
print(f"Apartment type with the highest interactions: {highest_interaction_type}")

Apartment type with the highest interactions: BHK2

In [27]:
df.head()

,property_id,type,activation_date,bathroom,floor,total_floor,furnishing,gym,latitude,longitude,...,property_age,property_size,swimming_pool,pin_code,rent,deposit,building_type,location,ÿþ,property_id/type/activation_date/bathroom/floor/total_floor/furnishing/gym/latitude/longitude/lease_type/lift/locality/parking/property_age/property_size/swimming_pool/pin_code/rent/deposit/building_type
0,ff8080814a078fd2014a15c813ff0b03,BHK3,20-02-2017 09:24,3.0,2.0,6.0,SEMI_FURNISHED,1,12.872456,77.617578,...,2.0,2000.0,0,560068.0,22000.0,150000.0,AP,NaN,NaN,NaN
1,ff8081814c2dea94014c50865ea35904,BHK2,11-03-2017 16:12,2.0,0.0,2.0,SEMI_FURNISHED,0,12.876009,77.617934,...,5.0,1250.0,0,560076.0,12500.0,125000.0,IF,NaN,NaN,NaN
2,ff8081814cff7251014d04e2cc7018fd,BHK2,18-03-2017 14:26,2.0,2.0,19.0,SEMI_FURNISHED,1,12.875923,77.617946,...,2.0,1279.0,1,560068.0,17500.0,175000.0,AP,NaN,NaN,NaN
3,ff8081814eb65997014ebbaa22f11869,BHK2,28-03-2017 11:09,2.0,3.0,5.0,SEMI_FURNISHED,1,12.859438,77.614948,...,1.0,1200.0,0,560076.0,15000.0,100000.0,AP,NaN,NaN,NaN
4,ff8081814fa8748d014fabcabea10bb6,BHK3,14-02-2017 17:07,2.0,1.0,3.0,SEMI_FURNISHED,0,12.875697,77.617187,...,1.0,1550.0,0,560076.0,18000.0,100000.0,AP,NaN,NaN,NaN

In [31]:
import pandas as pd
df['activation_date'] = pd.to_datetime(df['activation_date'])

df['hour'] = df['activation_date'].dt.hour

df['time_category'] = pd.cut(df['hour'],
                             bins=[-1, 5, 11, 17, 23],
                             labels=['Midnight', 'Morning', 'Afternoon', 'Evening'],
                             right=True)
most_frequent_time_category = df['time_category'].mode()[0]

print(f"The most frequent time category is: {most_frequent_time_category}")

The most frequent time category is: Afternoon

C:\Users\Hp\AppData\Local\Temp\ipykernel_20284\2202070334.py:5: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['activation_date'] = pd.to_datetime(df['activation_date'])

In [32]:
import pandas as pd
df['activation_date'] = pd.to_datetime(df['activation_date'])

activation_count = df['activation_date'].dt.date.value_counts()
most_activated_dates = activation_count[activation_count == activation_count.max()]

print(f"The most properties were activated on the following date(s): {most_activated_dates.index.tolist()}")

The most properties were activated on the following date(s): [datetime.date(2017, 3, 17)]

In [35]:
import pandas as pd

print(df['lease_type'].value_counts())
total_properties = len(df)
anyone_lease_properties = df[df['lease_type'] == 'ANYONE'].shape[0]
percentage_anyone_lease = (anyone_lease_properties / total_properties) * 100
print(f"Total properties: {total_properties}")
print(f"Properties available for lease under 'Anyone': {anyone_lease_properties}")
print(f"The percentage of properties available for lease under the 'Anyone' category is: {percentage_anyone_lease:.2f}%")

lease_type
FAMILY      6909
ANYONE      5950
BACHELOR     553
COMPANY       23
Name: count, dtype: int64
Total properties: 14532
Properties available for lease under 'Anyone': 5950
The percentage of properties available for lease under the 'Anyone' category is: 40.94%

In [37]:
import pandas as pd

average_rent_by_locality = df.groupby('locality')['rent'].mean()
locality_with_highest_rent = average_rent_by_locality.idxmax()
highest_rent = average_rent_by_locality.max()
print(f"The locality with the highest average rent is: {locality_with_highest_rent}")
print(f"The highest average rent is: {highest_rent}")

The locality with the highest average rent is: Bellandur
The highest average rent is: 25949.46325878594